$bodyBackground: #fff;
$headerBackground: url(../img/m-h-day.jpg) no-repeat center center;
$colorTextLogo: #000;
$fontSmallLogo: 'Hind', sans-serif;
$colorBorder: #14A0C7;
$colorHeaderHeader: #2C2F3C;
$fontHeaderText: 'Hind', sans-serif;
$colorHeaderText: #2C2F3C;
$textButton: #fff;
$buttonBackground: #699900;
$colorSectionHeader: #2C2F3C;
$cardBackground: #21232E;
$colorHeaderCard: #fff;
$fontTextCard: 'Hind', sans-serif;
$lineheightTextCard: 1.5em;
$colorTextCard: #D1D1D1;
$gradient: linear-gradient(to right, #679609, #305ED1);
$bannerHeaderColor: #000;
$bannerTextColor: #D1D1D1;
$fontBannerText: 'Hind', sans-serif;
$colorTexteFooter: #D1D1D1;
$fontFooterText: 'Hind', sans-serif;