$bodyBackground: #21232E;
$headerBackground: url(../img/m-h-night.jpg) no-repeat center center;
$colorTextLogo: #fff;
$fontSmallLogo: 'Fresca', sans-serif;
$colorBorder: #FF4E33;
$colorHeaderHeader: #fff;
$fontHeaderText: 'Fresca', sans-serif;
$colorHeaderText: #fff;
$textButton: #fff;
$buttonBackground: #E3AC00;
$colorSectionHeader: #fff;
$cardBackground: #383F50;
$colorHeaderCard: #fff;
$fontTextCard: 'Fresca', sans-serif;
$lineheightTextCard: 1.5em;
$colorTextCard: #D1D1D1;
$gradient: linear-gradient(to right, #DCA107, #943050);
$bannerHeaderColor: #fff;
$bannerTextColor: #D1D1D1;
$fontBannerText: 'Fresca', sans-serif;
$colorTexteFooter: #D1D1D1;
$fontFooterText: 'Fresca', sans-serif;